.wrapper {
  overflow-x: scroll;
  width: 100%;
}

.widget {
  border-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 12px 17px;
  color: #f8f8f8;
  margin-bottom: 30px;
  position: relative;
}